body {
    background: none !important;
}

#container {
    overflow: auto;
    font-size: 20px;
    padding: 25px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
    border-radius: 10px;
    opacity: 150px;
    background: rgba(0, 0, 0, 0.95);
    border: 1px solid rgb(200,200,200);
    box-shadow: 0 0 10px 3px black;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.5) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.5) inset;
}

::-webkit-scrollbar-track {
    background-color: rgb(122, 200, 226);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px 10px 10px 10px;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px 10px 10px 10px;
    background: rgb(0, 89, 255);
}

button {
    text-align: center;
    width: 100px;
    font-size: 12px;
    background: black;
    border: 1px solid rgb(200,200,200);
    transition: box-shadow 0.2s ease-in, background 0.2s ease-in;
    padding: 2px;
    color: rgb(25, 25, 25);
}

.logo{
    position: fixed;
    top: 4%;
    left: 2%;

    width:140px;
    height: 140px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button{
    position: fixed;
    top: 80%;
    left: 50%;
    width:140px;
    height: auto;
    margin: 1px;
	font-size:14px;    
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	color:rgba(4, 0, 255, 0.527);
}

button:hover{
    box-shadow: 0 0 2px 0.5px white inset;
    background: rgb(25, 25, 25);
    
}

.input3{
    width: 12em;
    height: 3em;
    font-size: 12px;
    background: rgb(25, 25, 25);
    border: 1px solid rgb(0, 89, 255);
    padding: 5px;
    width: 32%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    color: lightblue;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
	outline:none;
    margin-top: 2%;
}

.input22{
    width: 12em;
    height: 3em;
    font-size: 12px;
    background: rgb(25, 25, 25);
    border: 1px solid rgb(0, 89, 255);
    padding: 5px;
    width: 32%;
    display: block;
    box-sizing: border-box;
    color: lightblue;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    outline:none;
    margin-top: -15%;
    left: 50%;
}

.input22t{
    width: 12em;
    height: 3em;
    font-size: 12px;
    background: rgb(25, 25, 25);
    border: 1px solid rgb(0, 89, 255);
    padding: 5px;
    width: 32%;
    display: block;
    box-sizing: border-box;
    color: lightblue;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    outline:none;
    margin-top: 2%;
    left: 50%;
}

.label {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	margin-top: -3%;
    font-size: 16px;
}

.label1{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: -1%; 
    font-size: 16px;
}

.label2{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: -1%; 
    font-size: 16px;
}

.label22{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: -17%; 
    left: 50%;
    font-size: 16px;
}

.label22t{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: -2%; 
    left: 50%;
    font-size: 16px;
}

.logo12{
    margin-top: -35%; 
    margin-left: 45%;
    width: 300px;
    height: 80px;
}

.label3{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 0%;
    margin-top:0%;
    font-size: 15px;
    max-width: 90%;
}

.label5{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 0%;
    margin-top:13%;
    font-size: 15px;
    max-width: 90%;
}

.label6{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 0%;
    margin-top:26%;
    font-size: 15px;
    max-width: 90%;
}

.label7{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 0%;
    margin-top:39%;
    margin-right: 4%;
    font-size: 15px;
    max-width: 90%;
}

.label8{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 0%;
    margin-top:52%;
    margin-right: 4%;
    font-size: 15px;
    max-width: 90%;
}

.label9{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 0%;
    margin-top:65%;
    margin-right: 4%;
    font-size: 15px;
    max-width: 90%;
}

.label10{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 0%;
    margin-top:78%;
    font-size: 15px;
    max-width: 90%;
}

.label11{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 0%;
    margin-top:91%;
    font-size: 15px;
    max-width: 90%;
}

.label12{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 0%;
    margin-top:104%;
    font-size: 15px;
    max-width: 90%;
}

.label13{
    max-width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 0%;
    margin-top:118%;
    font-size: 15px;
}


.label14{
    max-width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-left: 0%;
    margin-top:132%;
    font-size: 15px;
}

.label4{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 4%;
    left: 50%;
}

.why{
    position: absolute;
    width: 40em;
    height: 4em;
    background: rgb(25, 25, 25);
    border: 1px solid rgb(0, 89, 255);
    color:lightblue;
    top: 46%;
    left: 4%;
}

.why2{
    position: absolute;
    width: 40em;
    height: 4em;
    background: rgb(25, 25, 25);
    color: lightblue;
    border: 1px solid rgb(0, 89, 255);
    top: 61%;
    left: 4%;
}

.why3{
    position: absolute;
    width: 40em;
    height: 4em;
    background: rgb(25, 25, 25);
    color: lightblue;
    border: 1px solid rgb(0, 89, 255);
    top: 76%;
    left: 4%;
}

.why4{
    position: absolute;
    width: 40em;
    height: 4em;
    background: rgb(25, 25, 25);
    color: lightblue;
    border: 1px solid rgb(0, 89, 255);
    top: 92%;
    left: 4%;
}

.why5{
    position: absolute;
    width: 40em;
    height: 4em;
    background: rgb(25, 25, 25);
    color: lightblue;
    border: 1px solid rgb(0, 89, 255);
    top: 108%;
    left: 4%;
}

.why6{
    position: absolute;
    width: 40em;
    height: 4em;
    background: rgb(25, 25, 25);
    border: 1px solid rgb(0, 89, 255);
    color:lightblue;
    top: 124%;
    left: 4%;
}

.why7{
    position: absolute;
    width: 40em;
    height: 4em;
    background: rgb(25, 25, 25);
    border: 1px solid rgb(0, 89, 255);
    color:lightblue;
    top: 140.5%;
    left: 4%;
}

.why8{
    position: absolute;
    width: 40em;
    height: 4em;
    background: rgb(25, 25, 25);
    border: 1px solid rgb(0, 89, 255);
    color:lightblue;
    top: 156%;
    left: 4%;
}

.why9{
    position: absolute;
    width: 40em;
    height: 4em;
    background: rgb(25, 25, 25);
    color: lightblue;
    border: 1px solid rgb(0, 89, 255);
    top: 174%;
    left: 4%;
}

.why10{
    position: absolute;
    width: 40em;
    height: 4em;
    background: rgb(25, 25, 25);
    color: lightblue;
    border: 1px solid rgb(0, 89, 255);
    top: 190%;
    left: 4%;
}

#foto{
    position: absolute;
    width: 40em;
    height: 4em;
    background: rgb(25, 25, 25);
    color: lightblue;
    border: 1px solid rgb(0, 89, 255);
    top: 206%;
    left: 4%;
}

.gender{
    position: absolute;
    top: 7%;
    left: 50%;
    width: 34%;
    height: 2.8em;
    background: rgb(25, 25, 25);
    color: lightblue;
    border: 1px solid rgb(0, 89, 255);
}

.sumbit{
    position: absolute;
    width:140px;
    height: auto;
    margin: 0;
	font-size:15px;    
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 224%;
    left: 75%;
    font-size: 15px;
    color:rgb(38, 0, 255);
    margin-bottom: 10%;
}

.warn{
    color: rgba(255, 0, 0, 0.76);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 143%;

}

.warn2{
    color: rgba(255, 0, 0, 0.76);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 147%;
}

.warn3{
    color: rgba(255, 0, 0, 0.76);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 151%;
}

.thanks{
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 52%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 45px;
}

.exit{
    position: fixed;
    top: 65%;
    left: 42%;
    color: lightblue;
    width: 15%;
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(200, 200, 200);
    transition: box-shadow 0.2s ease-in, background 0.2s ease-in;
    outline: none;
}